{% extends 'base.html' %}
{% block title %}User List{% endblock %}
{% block content %}
   <ul>
{#   <h1>先頭の人は{{ users|first }}</h1>#}
{#   <h2>{{ users|sort|first }}</h2>#}
{#   <h3>{{ users|random }}</h3>#}
   {% for user in users|reverse %}
{#        <li>{{ user|reverse_name }}</li>#}
       <li>{{ user.name }} {{ user.age }}　born at {{ user.age |born_year }}</li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Index Page</a>
    {% if is_login %}
        <p>ログイン済みです</p>
    {% else %}
        <p>ログインしていません</p>
    {% endif %}
    {% if 'Taro' in users %}
    <p>Taroは存在します</p>
    {% endif %}
{% endblock %}